body {
    width: 100%;
}

nav {
    background-color: #CF9FFF;
}

#grid-container {
    /*border: 1px solid deeppink;*/
    /*display: block;*/
    width: 100%;
    margin: auto;
    /*margin: 10em;*/
    padding: .5em;
}

.col {
    /*width: 10em;*/
}

.clickable-img {
    width: 100%;
    padding: 1.5em;
    /*border: 1px solid red;*/
}

.blockquote-container {
    /*border: 1px solid blue;*/
    font-style: italic;
    text-align: center;
    margin: auto;
    padding: 18em 10em;
}

.blocktext-container {
    margin: auto;
    padding: 8em 5em;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    /*todo: why is this shit not working??*/
    justify-content: space-around;
}

footer {
    background-color: #CF9FFF;
}