nav {
    background-color: aquamarine;
}

#grid-container {
    /*border: 1px solid deeppink;*/
    /*display: block;*/
    width: 100%;
    margin: auto;
    /*margin: 10em;*/
    padding: .5em;
}

.col {
    /*width: 10em;*/
}

.clickable-img {
    width: 100%;
    padding: 1.5em;
    /*border: 1px solid red;*/
}