 body {
    width: 100vw;
    height: 100vh;
 }
 
 nav {
   background-color: #E7A8FD;
   color: #333333;
   -webkit-box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
   box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
   /*text-align: center;*/
}

 a, .nav-link, h1, h5, small {
    color: #7F00FF;
 }

 .nav-link:active {
    color: aliceblue;
 }

 img {
    display: block;
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
    /* border: 2px solid black; */
    width: 45%;
 }

 .container-list-group {
    width: 70%;
    margin-bottom: 5vh;
 }

 h1 {
    text-align: center;
    margin: 4%;
 }