.container {
    /* border: 1px solid black; */
    margin-top: 10%;
    text-align: center;
}

a, .nav-link, h1, h5, small {
    color: #7F00FF;
 }

 @media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
  }