body {
    background-color: whitesmoke !important;
}

nav {
    background-color: #E7A8FD;
    color: #333333 !important;
    -webkit-box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
    /*text-align: center;*/
}

#banner {
    background-color: #CF9FFF;
    height: 6rem;
}

.scroll-container {
    background-color: transparent;
}

blockquote > p {
    font-style: italic;
    text-align: center;
    margin: 1rem 12rem;
    padding: 2rem 0rem;
}

.clickable-img {
    width: 25rem;
    /*border: 1px solid red;*/
}

#clickable-imgs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    /*border: 2px solid black;*/
}

a, .nav-link, h1, h5, small {
    color: #7F00FF !important;
 }



#bubble-container {
   height: 100vh;
   margin: 0;
   display: grid;
   place-items: center;
   font: 2vw system-ui;
   background-color: whitesmoke;
 }
 
 #bubble-container p {
   transform: translatey(0px);
   animation: float 5s ease-in-out infinite;
   mix-blend-mode: multiply;
   text-align: center;
   text-transform: uppercase;
   font-weight: bold;
   letter-spacing: 3px;
   font-size: 15px;
   color: brown;
   background-color: beige;
   padding: 50px;
   border-radius: 11px;
   position: relative;
   box-shadow: 20px 20px #E7A8FD;
   font-family: "Baloo 2", cursive;
   /* border: 1px solid $color-green; */
 }
 #bubble-container p:after {
   transform: translatey(0px);
   animation: float2 5s ease-in-out infinite;
   content: ".";
   font-weight: bold;
   /* -webkit-text-stroke: 0.5px $color-green; */
   -webkit-text-fill-color: beige;
   /* border: 1px solid $color-green; */
   text-shadow: 22px 22px #E7A8FD;
   text-align: left;
   font-size: 55px;
   width: 55px;
   height: 11px;
   line-height: 30px;
   border-radius: 11px;
   background-color: beige;
   position: absolute;
   display: block;
   bottom: -30px;
   left: 0;
   box-shadow: 22px 22px #E7A8FD;
   z-index: -2;
 }
 
 @keyframes float {
   0% {
     transform: translatey(0px);
   }
   50% {
     transform: translatey(-20px);
   }
   100% {
     transform: translatey(0px);
   }
 }
 
 @keyframes float2 {
   0% {
     line-height: 30px;
     transform: translatey(0px);
   }
   55% {
     transform: translatey(-20px);
   }
   60% {
     line-height: 10px;
   }
   100% {
     line-height: 30px;
     transform: translatey(0px);
   }
 }

