@import url(styles.css);

body {
    overflow-x: hidden;
}

#paragraph {
    background-color: white !important;
    color: var(--darker-pink);
}

iframe {
    width: 350px;
    height: 3050px;
    overflow-y: hidden;
    /* overflow: hidden; */
    margin-bottom: -50px;
    /* border: 1px solid black; */
}

@media only screen and (min-width: 600px) {
    iframe {
        /* width: 640px;
        height: 3175px;
        margin-bottom: -500px; */
    }
}

@media only screen and (min-width: 768px) {
    iframe {
        width: 3900px;
    }
}

@media only screen and (min-width: 992px) {
    iframe {
        /* width: 5000px; */
        /* height: 1000px; */
        /* border: 1px solid black; */
    }
}

footer {
    margin-top: -10rem;
}

.page-section {
    padding: 0;
}